@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background: #fff;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

* {
  transition: all 0.3s ease;
}
